.order-container {
  width: 90%;
  padding: 1rem 5rem;
  margin: 0 auto 1rem auto;
  border: solid thin lightsteelblue;
  display: flex;
  border-radius: 10px;
}

.order-header {
  width: 90%;
  padding: 1rem 5rem;
  margin: 0 auto 1rem auto;
  border: solid thin rgb(201, 201, 201);
  display: flex;
}

.cart-header {
  flex: 0 0 15% !important;
  margin-top: 1rem !important;
  padding-bottom: 0 !important;
}

.image-container {
  width: 15%;
}

.qtty-container {
  position: relative;
  top: 20px;
}

.delete-container {
  position: relative;
  top: 30px;
  border: none; 
}

.svg-delete {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
  background-color: red;
  padding: 0.2rem;
  border-radius: 0.25rem; 
}

.qtty-container-text {
  font-family: 'Open Sans', sans-serif !important;
}

.qtty {
  border: solid lightgrey thin;
  border-radius: 5px;
  margin: 6rem 0 0 1rem;
  padding: 0.5rem;
}

.image {
  width: 7.5rem;
}

.order-details-container {
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  width: 60%;
}

.brand {
  color: rgba(0, 0, 255, 1);
  padding-right: 1rem;
  font-size: 1.1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.cart-description {
  margin-top: 0.5rem;
  display: block;
  padding-right: 1rem;
}

.cart-long-description {
  font-family: 'PT Sans Narrow', sans-serif;
  display: block;
  font-weight: 100;
  font-size: 1.1rem;
}

.cart-price {
  margin-top: 4rem;
  flex: 0 0 15% !important;
}
