/* Flex row for summary line: left label, right amount */
.cart-summary-row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-summary-label {
  margin-left: 1rem;
  text-align: left;

  font-family: 'Open Sans', sans-serif !important;
  display: block;
  font-weight: 100;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.9);
}

.cart-summary-amount {
  text-align: right;
  margin-right: 1rem;
  font-weight: bold;
}
.order-container {
  width: 90%;
  padding: 1rem 2rem;
  margin: 0 auto 1rem auto;
  border: solid thin lightsteelblue;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(107, 107, 107, 0.3);
}

.order-header {
  width: 90%;
  padding: 1rem 2rem;
  margin: 0 auto 1rem auto;
  display: flex;
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  text-align: center;
  border-bottom: lightsteelblue thin solid;
}

.cart-header {
  flex: 0 0 15% !important;
  margin-top: 1rem !important;
  padding-bottom: 0 !important;
}

.image-container {
  width: 15%;
}

.qtty-container {
  position: relative;
  top: 20px;
}

.delete-container {
  position: relative;
  top: -3px;
  left: 105px;
  border: none;
}

.svg-delete {
  width: 1rem;
  height: 1rem;
  fill: white;
  background-color: gray;
  padding: 0.2rem;
  border-radius: 0.25rem;
}

.svg-delete:hover {
  background-color: red;
  width: 1.5rem;
  height: 1.5rem;
  transition: width 0.5s, height 0.5s;
}

.qtty-container-text {
  font-family: 'Open Sans', sans-serif !important;
}

.qtty {
  border: solid lightgrey thin;
  border-radius: 5px;
  margin: 6rem 0 0 1rem;
  padding: 0.5rem;
}

.image {
  width: 7.5rem;
  border-radius: 5px;
}

.order-details-container {
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: 'Open Sans', sans-serif !important;
  width: 60%;
}

.brand,
.order-summary-title {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1rem;

  font-size: 1.1rem;
  font-weight: bolder;
  text-transform: uppercase;
}


.order-summary-title {
  color: rgba(0, 0, 0, 1) !important;
}

.cart-description {
  margin-top: 1.5rem;
  display: block;
  padding-right: 1rem;
}

.cart-long-description {
  font-family: 'PT Sans Narrow', sans-serif;
  display: block;
  font-weight: 100;
  font-size: 1.1rem;
  color: rgba(107, 107, 107, 0.9);
}

.cart-price {
  margin-top: 4rem;
  flex: 0 0 15% !important;
}

.unit-price {
  color: lightgrey !important;
}

.cart-upc {
  position: relative;
  width: fit-content;
  top: -2px;
  left: -10px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(245, 245, 244, 1);
  color: rgb(0, 0, 255);
}

.empty-cart {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  font-size: 2rem;
  display: block;
  color: gray;
}

.empty-cart-title {
  display: block;
}

.empty-cart-message {
  display: block;
  font-size: 1.5rem;
}

.cart-entries-left {
  width: 60%;
  /* background-color: blue; */
}
.cart-entries-right {
  margin-top: 6rem;
  margin-left: 5%;
  width: 29%;
  /* background-color: aqua; */
  border: solid thin rgb(216, 216, 216);
  min-height: 300px;
  padding: 30px;

  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(107, 107, 107, 0.3);
  position: sticky;
  top: 20px; /* Distance from top when sticky */
}


.cart-summary-checkout {
  width: 100%;
  position: relative;
  /* margin: 1rem auto; */
  top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}