.order-container {
  width: 80%;
  padding: 1rem 5rem;
  margin: 0 auto 2rem auto;
  border: solid thin lightsteelblue;
  display: flex;
}

.image-container {
  width: 20%;
}

.image {
  width: 7.5rem;
}

.order-details-container {
  margin-top: 4rem;
  font-family: 'Open Sans', sans-serif !important;
  width: 60%;
}

.brand {
  color: red;
  padding-right: 1rem;
}

.cart-description {
  padding-right: 1rem;
}

.cart-long-description {
  display: block;
}

.cart-price{
    margin-top: 4rem;
}