.order-container {
  width: 90%;
  padding: 1rem 5rem;
  margin: 0 auto 1rem auto;
  border: solid thin lightsteelblue;
  display: flex;
}

.order-header {
  width: 90%;
  padding: 1rem 5rem;
  margin: 0 auto 1rem auto;
  border: solid thin rgb(201, 201, 201);
  display: flex;
}

.cart-header {
  flex: 0 0 15% !important;
  margin-top: 1rem !important;
  padding-bottom: 0 !important;
}

.image-container {
  width: 15%;
}

.qtty-container-text {
  font-family: 'Open Sans', sans-serif !important;
}
.qtty-container {
  position: relative;
  top: 20px;
}
.qtty {
  border: solid lightgrey thin;
  border-radius: 5px;
  margin: 6rem 0 0 1rem; 
  padding: 0.5rem;
}

.image {
  width: 7.5rem;
}

.order-details-container {
  margin-top: 3rem;
  font-family: 'Open Sans', sans-serif !important;
  width: 60%;
}

.brand {
  color: rgb(55, 0, 255);
  padding-right: 1rem;
}

.cart-description {
  padding-right: 1rem;
}

.cart-long-description {
  display: block;
}

.cart-price {
  margin-top: 4rem;
  flex: 0 0 15% !important;
}
