.main-container {
  padding-top: 2rem;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Top alignment */
  align-content: flex-start; /* Also align the whole content to top */
}


.products-container-expanded {
  margin: 0 auto;
}

.products-container-collapsed {
  max-width: 10rem;
  min-height: 100vh;
  transition: margin-left 1s ease, width 1s ease;
}

.brand-details-show {
  width: 970px;
  margin-left: 4rem;
  display: block;
  opacity: 100%;
  transition: opacity 3s;
}

.brand-details-hidden {
  width: 0px;
  opacity: 0%;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;/* Top vertical alignment */
  gap: 20px; /* Space between items */
}

.category-container-collapse {
  padding: 10px;
}

.product-item {
  flex: 0 0 calc(33.333% - 14px); /* 3 items per row with gap adjustment */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 20px;
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
  min-height: 40rem;
}

.product-item-collapsed {
  padding: 10px;
  color: red;
}


.category-title {
  color: rgba(0, 0, 0, 0.75);
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Open Sans', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: block;
  width: 35%;
  text-transform: uppercase;
  border-bottom: 0.1rem rgba(107, 107, 107, 0.3) solid;
}

.category-title-collapsed {
  width: 10rem;
  color: rgb(0, 0, 0);
  background: white;
  padding-left: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.category-title-collapsed:hover {
  color: #604635;
  box-shadow: 0 8px 25px rgba(107, 107, 107, 0.3);
  transform: translateY(-5px);
}

.category-image {
  padding-top: 0.85rem;
  width: 20rem;
  display: block;
}

.category-image-collapsed {
  padding-top: 0.85rem;
  width: 0rem;
  transition: width 1s ease;
}

.category-longdesc {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  width: 80%;
  display: block;
  padding-top: 1.25rem;
  color: rgb(80, 78, 78);
}

.category-longdesc-hidden {
  display: none;
}
