body {
  font-family: 'Open Sans', sans-serif !important;
}

.main-container {
  padding-top: 2rem;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Top alignment */
  align-content: flex-start; /* Also align the whole content to top */
}
