/* You can add global styles to this file, and also import other style files */
.main-container {
  padding-top: 2rem;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Top alignment */
  align-content: flex-start; /* Also align the whole content to top */
}

